# Ignore Terraform state files
.terraform/
*.tfstate
*.tfstate.backup

# Ignore crash logs
crash.log

# Ignore override files
*.tfvars
*.tfvars.json

# Ignore sensitive files or local configurations
terraform.tfvars

# Ignore CLI configuration
.terraform.rc
terraform.rc
